<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blink health - Home</title>
    <link href="static\lander.css" rel="stylesheet">
</head>
<body>
    <div class="hero">

        <video autoplay loop muted plays-inline class="back-video">
            <source src="static\images\blink_lander_1.mp4" type="video/mp4">
        </video>

        <nav>
            <img src="static\images\logo.png" class="logo">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/login">LOGIN</a></li>
                <li><a href="#">REGISTER</a></li>
                <li><a href="#">PHYSICIANS PORTAL</a></li>
            </ul>
        </nav>
        <div class="content">
            <h1>blink health</h1>
            <a href="#">About us</a>
        </div>
    </div>





</body>
</html>